Repository chaosinventory/chaosinventory, pull requests merged in 2021-02, with the labels that each got.

#12 Separate dev dependencies (#9)
  src/requirements.txt
  src/setup.cfg
Labels: enhancement

#11 Add flake8 and isort linting and lint files
  .github/workflows/style.yml
  src/chaosinventory/base/tests.py
  src/chaosinventory/base/urls.py
  src/chaosinventory/base/views.py
  src/chaosinventory/urls.py
  src/setup.cfg
  src/setup.py
Labels: documentation, enhancement

#6 Create initials models.py based on ERD
  src/chaosinventory/base/migrations/0001_initial.py
  src/chaosinventory/base/models.py
Labels: enhancement, fundamental, help wanted

#18 Add some basic string methods to models
  src/chaosinventory/base/models.py
Labels: Models, enhancement

#22 amount field: default and validation
  src/chaosinventory/base/models.py
Labels: Models

#20 Make some fields optional
  src/chaosinventory/base/migrations/0002_auto_20210208_2215.py
  src/chaosinventory/base/models.py
Labels: Models

#36 Fix CI in multiple instances
  src/chaosinventory/base/admin.py
  src/chaosinventory/base/models.py
  src/setup.cfg
Labels: AdminUI, CI, Models, bug

#40 Add rudimentary documentation of the config file
  doc/admin/installation/index.rst
  doc/dev/setup/index.rst
Labels: Configuration, documentation
