Repository chaosinventory/chaosinventory, pull requests merged in 2021-03, with the labels that each got.

#24 Move foreign key for inventory ids
  src/chaosinventory/base/migrations/0001_initial.py
  src/chaosinventory/base/migrations/0002_auto_20210208_2215.py
  src/chaosinventory/base/models.py
Labels: Breaking Migration, Models, fundamental

#41 Django Configuration: Provide Fallback
  doc/conf.py
  doc/dev/configuration.rst
  doc/dev/index.rst
  src/chaosinventory/settings.py
Labels: Configuration, bug

#49 Validate item location and parent item
  src/chaosinventory/base/models.py
Labels: Models

#50 Migrate TextField to CharField
  src/chaosinventory/base/migrations/0002_auto_20210311_1752.py
  src/chaosinventory/base/models.py
Labels: Models

#55 Add django selfcheck to ci
  .github/workflows/style.yml
  src/chaosinventory/base/models.py
Labels: CI, Quality

#56 Human readable error if invalid configfile is provided
  src/chaosinventory/settings.py
Labels: Configuration

#44 Add lint.py script
  .github/workflows/style.yml
  doc/dev/index.rst
  doc/dev/linting.rst
  scripts/lint.py
  scripts/pre-commit-hook.sh
  src/requirements.txt
Labels: CI, Quality, documentation, enhancement
